*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

label {
  display: inline-block;
  width: 75px; /* Adjust this width based on your label size */
  text-align: left;
}

#formHeader {
  display: none;
}

table {
  border: 1px black solid;
  border-collapse: collapse;
  margin-top: 10px;
}

td,
tr,
th {
  border: 1px black solid;
}
